@page
@model Shop.UI.Pages.Accounts.LoginModel
@{
}



<form method="post">
    <input asp-for="Input.Username" />
    <input asp-for="Input.Password" />
    <input type="submit" name="name" value="Sign In" />
</form>