@page
@model Shop.UI.Pages.Admin.ConfigureUsersModel
@{
}
<div id="app" class="container">
    <input v-model="username" />
    <button @@click="createUser()">Create</button>
</div>


@section scripts{
    <script src="~/js/admin/users.js"></script>
}