@page
@model OrdersModel
@{
}

<div id="app">
    <div v-if="selectedOrder === null">
        <div class="tabs is-centered">
            <ul>
                <li v-bind:class="{'is-active': status === 0}"><a @@click="status = 0">Pending</a></li>
                <li v-bind:class="{'is-active': status === 1}"><a @@click="status = 1">Packed</a></li>
                <li v-bind:class="{'is-active': status === 2}"><a @@click="status = 2">Shipped</a></li>
            </ul>
        </div>
        <div v-if="orders.length > 0">
            <p v-for="order in orders">
                <a @@click="selectOrder(order.id)">{{order.orderRef}} - {{order.email}}</a>
            </p>
        </div>
    </div>
    <div v-else>
        <p>
            <button @@click="exitOrder()">Exit</button>
        </p>
        <p class="title">{{selectedOrder.orderRef}}</p>
        <p class="subtitle">{{selectedOrder.email}}</p>
        <button @@click="updateOrder()">Process</button>
    </div>
</div>


@section scripts {
    <script src="~/js/admin/orders.js"></script>
}